project_id = "alex-prod-project"
region     = "us-central1"

vertex_region         = "us-east4"
documents_bucket_name = "alex-prod-documents"
ingest_image          = "us-central1-docker.pkg.dev/alex-prod-project/alex/ingest:latest"

matching_engine_index_endpoint = ""
matching_engine_index_id       = ""
