project_id = "alex-prod-project"
region     = "us-central1"

instance_name = "alex-db"
database_name = "alex"

db_user     = "alex_app"
db_password = "CHANGE_ME"

authorized_networks = [
  {
    name = "local-dev"
    cidr = "203.0.113.10/32"
  }
]
